.account-form {
    margin: 1em 0;
    width: 100%;
}

.account-form input {
    margin-bottom: 0.5em;
    width: 100%;
}

.account-form .form-actions {
    width: 100%;
}

.account-form button {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}