@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg0: #070C0A;
    --bg05: #0D1311;
    --bg: #09100d;
    --bg1: #252C29;
    --bg2: #565D5A;
    --fg: #e8f0ec;
    --accent: #6ebf97;
    --primary: #9ccab3;
    --secondary: #3a7658;
}

body {
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    background-color: var(--bg);
    color: var(--fg);
    margin: 6em 2em;
}

.container {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: var(--bg0);
    color: var(--bg1);
    transition: 0.2s;
    padding: 0.8em 1.2em;
}
input:focus {
    outline: none;
    color: var(--bg2);
}
input:hover {
    background-color: var(--bg05);
}

button {
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--bg0);
    color: var(--bg2);
    border: none;
    padding: 0.8em 1.2em;
}
button:active {
    background-color: var(--bg2);
}
button:hover {
    background-color: var(--bg1);
    color: var(--fg);
}