.titles {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.titles h2 {
    font-size: 32px;
    display: block;
    letter-spacing: 0.2px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left {
    margin-right: 1em;
    float: left;
    text-align: left;
}
.right {
    margin-left: 1em;
    float: right;
    text-align: right;
}
.nav a {
    font-size: 20px;
    color: var(--accent);
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.2px;
    transition: 0.2s;
}
.nav a:hover {
    color: var(--primary);
    text-shadow: 0px 0px 3px #fff4;
}